@import "tailwindcss";

:root {
  --background: theme(colors.gray.200);
  --foreground: theme(colors.gray.700);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: theme(colors.gray.700);
    --foreground: theme(colors.gray.200);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
